<app-top-menu></app-top-menu>

<div class="between-sections"><br><br></div>
<div class="container">
  <!--Section: Sponsors-->
  <section class="section pb-3">
    <!--Section heading-->
    <h1 class="section-heading">我們的贊助夥伴</h1>
    <div class="text-center" *ngIf="isLoggedIn() && isAdmin()">
      <button class="btn btn-success" (click)="levelModal.show()">Create Level</button>
      <button class="btn btn-primary" routerLink="/sponsors/new">Create Sponsor</button>
    </div>
    <div class="col sponsors">
      <h4>我們與具有創新性的品牌一起合作</h4><br>
      <p>女人迷創立於 2011 年，我們的使命是支持並啟發人們的成長，鼓勵性別的對話，為台灣首家以性別與女性意識為核心的國際媒體社群。致力於梳理女性故事，傳承女性經驗，採集多元觀點，進而推動性別啟蒙運動，引領台灣女力和性別運動的蓬勃發展。</p>
      <p>#CodeforGender 是一個全球性的行動，由女人迷發起，主旨在於建立以人為核心、以科技為解方的性別友善生態圈，利用科技、多元的力量，解決時下的性別議題。</p>
      <a class="btn btn-primary waves-light" [href]="(siteConfig | async)?.sponsorURL" target="_blank" rel="noopener">Become a Sponsor</a>
    </div>
    <div class="col sponsors" *ngFor="let level of levels | async">
      <h3 style="font-weight: bold;">
        {{ level.name }}
        <button class="btn-sm btn-danger" *ngIf="isLoggedIn() && isAdmin()" (click)="deleteLevel(level)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </h3>
      <hr style="width: 60%;" />
      <br/>
      <div class="row">
        <ng-container *ngFor="let sponsor of sponsors | async">
          <ng-container *ngIf="level.$key === sponsor.level">
            <span class="col-md-6" style="padding: 20px 40px; margin: 0 auto;">
              <a [href]="sponsor.websiteLink" target="_blank" rel="noopener">
                <img [src]="sponsor.logoURL" class="sponsor-img" title="{{ sponsor.name }}" alt="{{ sponsor.name }}" />
              </a>
              <button class="btn-sm btn-primary" *ngIf="isLoggedIn() && isAdmin()" routerLink="/sponsors/{{ sponsor.$key }}/edit">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
              <button class="btn-sm btn-danger" *ngIf="isLoggedIn() && isAdmin()" (click)="deleteSponsor(sponsor)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </span>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </section>
  <!--Section: Sponsors-->
</div>
<div class="between-sections"><br><br></div>


<!-- Modal -->
<div mdbModal #levelModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="CreateLevel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form>
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100" id="CreateLevel">Create Sponsorship Level</h4>
          <button type="button" class="close pull-right" (click)="levelModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="md-form form-sm">
            <i class="fa fa-tag prefix"></i>
            <input mdbActive type="text" id="level" class="form-control" [(ngModel)]="level.name" name="name">
            <label for="level">Level Name</label>
          </div>
          <div style="padding-bottom: 25px;">
            <label for="rank">Rank:</label>
            <select class="mdb-select" id="rank" [(ngModel)]="level.rank" name="rank">
              <option value="" disabled selected>Choose your option</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" (click)="addLevel()">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Modal -->
